<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//bootswatch.com/journal/bootstrap.min.css">
    <script src="../javascript/vue.min.js"></script>
</head>
<body>
<div id="main" class="panel-body">
    <!-- Standard button -->
    <button type="button" class="btn"
            v-bind="{'disabled': state==1}"
            v-bind:class="{'btn-default': state==1,'btn-success': state==2,'btn-primary': state==3}"
            v-on:click="reverseMessage">{{getText()}}</button>
</div>
</body>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="../javascript/jwxt/serviceManagement.js"></script>
</html>